@import "./element-variables";
@import "components/button";
@import "components/form";

$color-aside: #0B2339;

.bg-aside {
  background: #0B2339
}


html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  @apply text-base;
  @apply text-black-700;
  @apply lg:text-base;
  @apply md:text-base;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#__nuxt {
  @apply h-full
}
#__layout {
  @apply flex flex-col h-full
}

.el-input__inner {
  height: 40px;
  line-height: 40px;
}

[type='text']:focus, [type='email']:focus, [type='url']:focus, [type='password']:focus, [type='number']:focus, [type='date']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='week']:focus, [multiple]:focus, textarea:focus, select:focus {
  @apply ring-0 outline-none
}

.el-dialog.locker-dialog {
  .el-dialog__header, .el-dialog__footer {
    @apply px-8
  }
  .el-dialog__header {
    @apply pt-8
  }
  .el-dialog__footer {
    @apply pb-8
  }
  .el-dialog__body {
    @apply px-8 py-5
  }
}
//.col-actions {
//  display: none;
//  visibility: hidden;
//}
.hover-table-row:hover {
  .col-actions {
    display: block;
    visibility: visible;
  }
}
.cipher-items {
  .cipher-item {
    border-bottom: 1px solid #EAEAF5;
    height: 57px;
    @apply hover:bg-black-300 cursor-pointer items-center px-5;
    &:last-child {
      border-bottom: none;
    }
  }
}

.btn.btn-action {
  @apply hover:bg-black-400 text-black-600 hover:text-black mr-3;
  &:last-child {
    @apply mr-0
  }
}
a {
  @apply hover:text-primary cursor-pointer hover:underline
}
.el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px;
}
.el-breadcrumb__inner.is-link, .el-breadcrumb__inner a {
  @apply text-black-600 font-semibold
}
.el-breadcrumb__item:last-child .el-breadcrumb__inner, .el-breadcrumb__item:last-child .el-breadcrumb__inner:hover, .el-breadcrumb__item:last-child .el-breadcrumb__inner a, .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover {
  @apply text-black-700 font-semibold
}


/* vue-context */
.v-context{
  background-color:#fff;
  background-clip:padding-box;
  //border-radius:.25rem;
  //border:1px solid rgba(0,0,0,.15);
  //box-shadow:0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  //padding:10px 0;
  display:block;
  margin:0;
  //min-width:10rem;
  z-index:1500;
  position:fixed;
  list-style:none;
  box-sizing:border-box;
  transform-origin: center top;

}
.v-context>li{margin:0}
.v-context>li>a{display:block;padding:.5rem 1.5rem;font-weight:400;color:#212529;text-decoration:none;white-space:nowrap;background-color:transparent;border:0}
.v-context>li>a:focus,.v-context>li>a:hover{text-decoration:none;background-color: #e6f5f5;color: #33b2b1;}
.v-context:focus,.v-context>li>a:focus{outline:0}

.el-dialog__body {
  word-break: break-word;
}
