@import "./element-variables";
@import "components/button";
@import "components/form";

$color-aside: #0B2339;

.bg-aside {
  background: #0B2339
}


html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  @apply text-base;
  @apply text-black-700;
  @apply lg:text-base;
  @apply md:text-base;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#__nuxt {
  @apply h-full
}
#__layout {
  @apply flex flex-col h-full
}

.el-input__inner {
  height: 44px;
  line-height: 44px;
}
